/* ===== COMPONENTS ===== */
body{
    background-color: #FFFFFF;
    font-family:"Roboto", sans-serif; 
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding:0 15px;
}

/* ===== HEADER ===== */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    background-color: #ffffff;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
}

.logo-link{
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
    /* padding: 24px 0; */
    /* border: 3px solid green; */
}
.logo-black{
    color: #2E2F42;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
}

.nav{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    gap: 40px;
}

.nav-list li{
    letter-spacing: 0.02em;
}

.nav-link:hover, .nav-link:focus{
    color: #404bbf;
}

.nav-link {
    color: #2e2f42;
}

.nav-link.nav-link-first{
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-link-first::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.nav-list a{
    display: block;
    text-decoration: none;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address{
    font-style: normal;
}

.contact-list{
    display: flex;
    gap: 40px;
}

.contact-link{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover, .contact-link:focus{
    color: #404bbf;
}

/* ===== MAIN ===== */
.portfolio-section-title,
.our-team-title{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

/* ===== HERO ===== */
.hero {
    background-color: #2E2F42;
    background-image:linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
    url(../images/people-office_1_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 188px 0;
}

.hero-title{
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-order-service {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order-service:hover,
.button-order-service:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

/* ===== BENEFITS ===== */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-benefits{
    padding: 120px 0;
}

.benefits-list{
    display: flex;
    gap: 24px;
}

.icon{
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    border-radius: 4px;
    justify-content: center;
    display: flex;
    align-items: center;
    max-width: 264px;
    height: 112px;
    position: relative;
    margin-bottom: 8px;
}

.about-item{
    width: calc((100% - 72px) / 4);
}

.about-item-title{
    font-size: 20px;
    font-weight: 500;
    color:#2E2F42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    gap: 8px;
    margin-bottom: 8px;
}

.about-item-description{
    font-size: 16px;
    font-weight: 400;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ===== OUR TEAM ===== */

.our-team{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.our-team-title{
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    gap: 24px;
}

.our-team-list{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
    0 1px 1px rgba(46, 47, 66, 0.16),
    0 1px 6px rgba(46, 47, 66, 0.08);
}

.social-links-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-social-links{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link-list{
    width: 40px;
    height: 40px;
}

.team-social-links:hover,
.team-social-links:focus{
    background-color: #404bbf;
}

.social-link-icon{
    fill: #f4f4fd;
}

.our-team-description{
    padding: 32px 0;
}

.name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.position{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* ===== PORTFOLIO ===== */

.portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-section-title{
    margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-description{
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-photo{
    max-width: 360px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-photo:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image-container{
    position: relative;
    overflow: hidden;
}

.portfolio-image{
    display: block;
    width: 100%;
    height: auto;
}

.image-description{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-photo:hover .image-description {
    transform: translateY(0%);
}

.portfolio-item-title{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}

.portfolio-item-category:nth-child(3n) {
    margin-right: 0;
}

.portfolio-item-category:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-item-category{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/* ===== FOOTER ===== */

.footer{
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container{
    display: flex;
    align-items: baseline;
}

.logo-container{
    margin-right: 120px;
}

footer .studio{
    color: #F4F4FD;
    line-height: 1.17;
    text-transform: uppercase;
}

.logo-link-footer{
    font-family: "Raleway",sans-serif;
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 1.17;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-white{
    color: #F4F4FD;
    line-height: 1.5;
    text-transform: uppercase;
}

.marketing-message{
    color:#F4F4FD;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    max-width: 264px;
}

.footer-social-media-list{
    display: flex;
    gap:16px;
}

.footer-social-media{
    width: 40px;
    height: 40px;
}

.title-social-media{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color:#FFFFFF;
}

.media-links{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-links:hover,
.media-links:focus{
    background-color: #31d0aa;
}

.footer-form-container{
    margin-left: 80px;
}

.subscribe-text{
    color: #ffffff;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.footer-form{
    display: flex;
    gap: 24px;
}

.email-input {
    width: 264px;
    height: 40px;
    letter-spacing: 0.04em;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    box-shadow: 0 4px 4px #00000026;
    padding-left: 24px;
}

.email-input::placeholder{
    color: #ffffff;
}

.subscribe-button{
    display: flex;
    padding: 0 24px;
    background-color: #4d5ae5;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    align-items: center;
    min-width: 165px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    height: 40px;
}

.subscribe-button:hover {
    background-color: #404bbf;
}

.telegram-icon{
    margin-left: 16px;
    fill: #fff;    
}